
    <div class="dropdown mb-5 mx-5">
        <button class="btn btn-secondary dropdown-toggle" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show: <span id="filter"><%= activeCategory ? activeCategory.name : "all" %></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownButton">

            <% if (categories.length > 0) { %>
                <a href="<%= `/shop/items`%>" class="dropdown-item">all</a>
            <% } %>

            <% categories.forEach(category => { %>
            <div class="d-flex position-relative">
                <a href="<%= `/shop/items?category=${category._id}`%>" class="dropdown-item"><%= category.name %></a> <% if (locals.isAdmin) { %>
                    <a href="<%= `/admin/deleteCategory/${category._id}` %>" class="dropdown-category" data-id="<%= category._id %>">delete</a>
                <% } %> 
            </div>
            <% }) %>

            <% if (locals.isAdmin) { %>
                <a href="/admin/createCategory" class="dropdown-item create-category">new category</a>
            <% } %>
        </div>
    </div>
    <div class="container-xl">
        <% if (items.length === 0) { %>
            <p class="text-center lead">
                No items in database found with such criteria
            </p>
        <% } %>
        <div class="row row-gap-20" <%= items.length === 0 ? "style=height:500px" : "" %>>
            <% if (locals.isAdmin) {%>
                <div class="col-sm-6 col-lg-4">
                    <a href="/admin/createItem" class="create-item">
    
                    </a>
                </div>
            <% } %>
            <% items.forEach(item => { %>
                <div class="col-sm-6 col-lg-4">
                    <%- include("../partials/item", {item}) %>
                </div>
            <% }) %>
            
        </div>
    </div>

